[reddit]
user_agent = %(YOUR_USERNAME)s
username = YOUR_USERNAME
password = YOUR_PASSWORD
app_key = YOUR APPKEY
app_secret = YOUR_APPSECRET
subreddit = YOUR_SUBREDDIT

[logging]
dest = mysql

[mysql]
hostname = MYSQL_HOST_NAME
username = MYSQL_USER_NAME
password = MYSQL_PASSWORD
database = MYSQL_DATABASE

[trade]
link_id = TRADE_POST_LINK_ID
prevlink_id = PREVIOUS_MONTH_TRADE_POST_LINK_ID
equal = You have confirmed a trade under your own post, this action has been reported to the Moderators.
age = Your account has been created recently, this has been sent for further review.
karma = You do not have enough karma, this has been sent for further review.
dev = Flair deviation detected.  The mods have been notified to review.
reply = added
sleep = 20
karma_check = 15
age_check = 14
flair = flair.json
flair_db = flair.db
flair_dev = 2
notrade_flairclass = ['vendor', 'mod']

[post_check]
posttitle_regex = \[Selling\].*(\[Buying\].*)|(^\[META\].*)|(^\[GB\].*)|(^\[IC\].*)|(^\[Artisan\].*)|(^\[Vendor\].*)|(^\[Giveaway\].*)
timestamp_regex = http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+
flairs = [ 
    {
        'regex': '\[W\].*(cash|paypal|\$|google w|ltc|btc|bitcoin|money).*',
        'name': 'Selling',
        'class': 'selling',
        'timestamp_check': True,
        'no_reply': False
    },
    {
        'regex': '\[H\].*(cash|paypal|\$|google w|ltc|btc|bitcoin|money).*\[W\]',
        'name': 'Buying',
        'class': 'buying',
        'timestamp_check': False,
        'no_reply': False
    },
    {
        'regex': '\[META\].*',
        'name': 'META',
        'class': 'meta',
        'timestamp_check': False,
        'no_reply': True
    },
    {
        'regex': '\[IC\].*',
        'name': 'Interest Check',
        'class': 'interestcheck',
        'timestamp_check': False,
        'no_reply': False
    },
    {
        'regex': '\[GB\].*',
        'name': 'Group Buy',
        'class': 'groupbuy',
        'timestamp_check': False,
        'no_reply': False
    },
    {
        'regex': '\[Artisan\].*',
        'name': 'Artisan',
        'class': 'artisan',
        'timestamp_check': False,
        'no_reply': False
    },
    {
        'regex': '\[Vendor\].*',
        'name': 'Vendor',
        'class': 'vendor',
        'timestamp_check': False,
        'no_reply': False
    },
    {
        'regex': '',
        'name': 'Trading',
        'class': 'trading',
        'timestamp_check': True,
        'no_reply': False
    }
    ]
rules = /wiki/rules/rules
upper_hour = 168

[price]
link_id = PRICE_CHECK_POST_LINK_ID

[heatware]
link_id = HEATWARE_POST_LINK_ID
regex = ^(https?:\/\/(?:www\.)?heatware\.com\/((eval\.php\?id=)|(u\/))\d{1,7})$
reply = added
